body {
    background-color: lightyellow;
}

.header {
    text-align: center;
    font-family: Impact;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background-color: lightblue;
}

hr {
    color: darkblue;
    border-color: blue;
    border-radius: 10px;
}

.logo {
    size: 50px;
}

.menu, .ourteam {
    text-align: center;
    font-family: Impact, serif;
    font-size: 50px;
}

h2 {
    font-size: 25;
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu h3 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu img {
    position: relative;
    width: 400px;
    height: 400px;
    max-width: 105%;
    max-height: 45vw;
    margin-left: 10px;
    margin-right: 10px;
}

.menu img:hover {
    transform: scale(1.1);
}

.chickensandwich {
    margin-right: 3px;
}

.item, .team {
    font-family: Impact, serif;
    font-size: 25px;
    max-width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.ourteam img {
    margin-top: 12px;
    width: 300px;
    height: 300px;
    max-width: 105%;
    max-height: 45vw;
    margin-bottom: -4px;
}

.ourteam p {
    max-width: 350px;
}

.gus {
    background-color: lightblue;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 12px;
    padding-top: 10px;
}

.gusimg {
    margin-bottom: -4px;
    margin-right: auto;
    width: 35%;
    max-width: 35%;
    max-height: 350px;
}

.gusimg:hover {
    content: url(./Images/gusscary.jpg);
}

.gusspeaks {
    font-family: Impact, serif;
    font-size: 2.75vw;
    float: right;
    text-align: center;
    width: fit-content;
    max-width: 65%;
}

.foot {
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
}

a {
    color: darkblue;
}

a:hover {
    color: blue;
}

a:active {
    color: deepskyblue;
}

a:visited {
    color:cornflowerblue;
}
