body {
    background-color: lightyellow;
}

.header {
    text-align: center;
    font-family: Impact;
    margin: -10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    background-color: lightblue;
}

hr {
    color: blue;
    border-color: blue;
    border-radius: 10px;
}

.logo {
    size: 50px;
}

.menu {
    text-align: center;
    font-family: Impact, serif;
    font-size: 50px;
}

.menu h2 {
    font-size: 25;
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu h3 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu img {
    width: 400px;
    height: 400px;
}

.menu img:hover {
    width: 425px;
    height: 425px;
}

.item {
    font-family: Impact, serif;
    font-size: 25px;
    text-align: center;
    display: inline-block;
}

.gus {
    background-color: lightblue;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-top: 10px;
}

.gusimg {
    margin-bottom: -4px;
    margin-right: auto;
    width: 35%;
    max-width: 35%;
    max-height: 350px;
}

.gusimg:hover {
    content: url(https://static.wikia.nocookie.net/breakingbad/images/5/54/BCS_S3_GusFring.jpg/revision/latest?cb=20170327185354);
}

.gusspeaks {
    font-family: Impact, serif;
    font-size: 50px;
    float: right;
    text-align: center;
    width: 65%;
}

.foot {
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
}